<h1 class="mt-4 mb-4">Create Order</h1>

<table class="table table-striped table-bordered cart-table">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Sold By</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item,quantity| %>
      <tr id= "cart-item-<%=item.id%>">
        <th scope="row">
          <span>
            <%= image_tag item.image, class: 'cart-image center', align: 'center' %>
            <%=link_to item.name, "/items/#{item.id}" %>
          </span>
        </th>
        <td><%=link_to item.merchant.name, "/merchants/#{item.merchant.id}"%></td>
        <td><%=number_to_currency(item.price)%></td>
        <td>
          <center>
            <p><%=quantity%></p>
          </center>
        </td>
        <td><%=number_to_currency(cart.subtotal(item))%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4 class="text-center">Grand Total: <%= number_to_currency(cart.total) %></h4>

<article class="justify-content-center row mt-4 mb-4">
  <%= link_to 'Edit Cart', '/cart', class: 'btn btn-primary ml-2 mr-2' %>
</article>

<% if !current_user.addresses.any? %>
  <p class="text-center">You must <%= link_to 'add an address', '/profile/addresses/new' %> prior to placing an order. </p>
<% else %>
  <h2 class="text-center mt-4 mb-4">Select Shipping Address</h2>

  <section class="container-fluid row justify-content-center">
    <% current_user.addresses.each do |address| %>
      <section class = "card card-body bg-light m-3 p-4 col-md-3" id= 'address-<%=address.id%>'>
        <section id="address-#{address.id}">
          <h2 class="text-center"> <%= address.nickname %> </h2>
          <p>Street: <%= address.street %></p>
          <p>City: <%= address.city %></p>
          <p>State: <%= address.state %></p>
          <p>Zip: <%= address.zip %></p>
          <article class="justify-content-center row mt-2">
            <%= link_to 'Edit', "/profile/addresses/#{address.id}/edit", class: 'btn btn-primary ml-2 mr-2' %>
            <%= link_to 'Ship to this Address', "/profile/orders/#{address.id}", method: :post, class: 'btn btn-success ml-2 mr-2' %>
          </article>
        </section>
      </section>
    <% end %>
  </section>
<% end %>
