<h1 class="mt-4 text-center">Hello, <%= @user.name %></h1>

<br>

<table class="profile-info">
  <tr>
    <td>Name</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
</table>

<article class="justify-content-center row mt-4">
  <% if !@user.orders.empty? %>
    <%= link_to 'Your Orders', user_orders_path, class: 'btn btn-success ml-2 mr-2' %>
  <% end %>
  <% if !admin %>
    <%= link_to 'Edit Your Info', '/profile/edit', class: 'btn btn-primary ml-2 mr-2' %>
    <%= link_to 'Change Your Password', '/profile/edit?info=false', class: 'btn btn-danger ml-2 mr-2' %>
  <% end %>
</article>

<% if !current_user.admin? %>
  <div class="text-center mt-4">
    <h1>Your Addresses</h1>
    <%= link_to 'Add New Address', '/profile/addresses/new', class: 'btn btn-primary mt-2 mb-2' %>
  </div>
  <section class="container-fluid row justify-content-center">
    <% @user.addresses.each do |address| %>
      <section class = "card card-body bg-light m-3 p-4 col-md-3" id= 'address-<%=address.id%>'>
        <h2 class="text-center"> <%= address.nickname %> </h2>
        <p>Street: <%= address.street %></p>
        <p>City: <%= address.city %></p>
        <p>State: <%= address.state %></p>
        <p>Zip: <%= address.zip %></p>
        <article class="justify-content-center row mt-2">
          <%= link_to 'Edit', "/profile/addresses/#{address.id}/edit", class: 'btn btn-primary ml-2 mr-2' %>
          <%= link_to 'Delete', "/profile/addresses/#{address.id}", method: :delete, class: 'btn btn-danger ml-2 mr-2' %>
        </article>
      </section>
    <% end %>
  </section>
<% end %>
